In [1]:
import gzip
import csv
import json
import pandas as pd
import datetime

In [2]:
#reading 1000 rows from data
#data = pd.read_csv('flightlist.csv.gz', nrows=1000, compression='gzip',error_bad_lines=False)

data = pd.read_csv('flightlist.csv.gz', compression='gzip', error_bad_lines=False)
data.head()

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day
0,SVA816,NaN,710064,HZ-AK24,B77W,NaN,NaN,2019-12-31 00:19:47+00:00,2020-01-01 13:27:28+00:00,2020-01-01 00:00:00+00:00
1,THY183,NaN,4ba9c1,TC-JNA,A332,NaN,LTBW,2019-12-31 00:25:26+00:00,2020-01-01 07:48:41+00:00,2020-01-01 00:00:00+00:00
2,CES738,MU738,781418,NaN,NaN,YMML,YSSY,2019-12-31 01:08:54+00:00,2020-01-01 01:45:29+00:00,2020-01-01 00:00:00+00:00
3,CES771,MU771,781858,NaN,NaN,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00
4,HAL5,HA5,a455ea,N379HA,A332,KLAS,NaN,2019-12-31 02:23:05+00:00,2020-01-01 08:52:18+00:00,2020-01-01 00:00:00+00:00

In [3]:
#column list
list(data)

['callsign',
 'number',
 'icao24',
 'registration',
 'typecode',
 'origin',
 'destination',
 'firstseen',
 'lastseen',
 'day']

In [4]:
#to drop if any value in the row has a nan
df_clean = data.dropna(how='any')
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2019-12-31 06:02:26+00:00,2020-01-01 03:08:39+00:00,2020-01-01 00:00:00+00:00
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2019-12-31 06:43:17+00:00,2020-01-01 04:24:08+00:00,2020-01-01 00:00:00+00:00
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2019-12-31 06:47:17+00:00,2020-01-01 22:14:43+00:00,2020-01-01 00:00:00+00:00
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2019-12-31 06:48:26+00:00,2020-01-01 01:41:45+00:00,2020-01-01 00:00:00+00:00
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2019-12-31 08:05:55+00:00,2020-01-01 14:46:17+00:00,2020-01-01 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31 23:17:36+00:00,2020-01-31 23:57:56+00:00,2020-01-31 00:00:00+00:00
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31 23:19:21+00:00,2020-01-31 23:59:54+00:00,2020-01-31 00:00:00+00:00
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31 23:28:13+00:00,2020-01-31 23:58:29+00:00,2020-01-31 00:00:00+00:00
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31 23:35:30+00:00,2020-01-31 23:47:19+00:00,2020-01-31 00:00:00+00:00
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31 23:37:28+00:00,2020-01-31 23:48:16+00:00,2020-01-31 00:00:00+00:00

In [5]:
df_clean['firstseen'] = df_clean['firstseen'].str.strip('+00:00')

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2019-12-31 06:02:26,2020-01-01 03:08:39+00:00,2020-01-01 00:00:00+00:00
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2019-12-31 06:43:17,2020-01-01 04:24:08+00:00,2020-01-01 00:00:00+00:00
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2019-12-31 06:47:17,2020-01-01 22:14:43+00:00,2020-01-01 00:00:00+00:00
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2019-12-31 06:48:26,2020-01-01 01:41:45+00:00,2020-01-01 00:00:00+00:00
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2019-12-31 08:05:55,2020-01-01 14:46:17+00:00,2020-01-01 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31 23:17:36,2020-01-31 23:57:56+00:00,2020-01-31 00:00:00+00:00
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31 23:19:21,2020-01-31 23:59:54+00:00,2020-01-31 00:00:00+00:00
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31 23:28:13,2020-01-31 23:58:29+00:00,2020-01-31 00:00:00+00:00
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31 23:35:3,2020-01-31 23:47:19+00:00,2020-01-31 00:00:00+00:00
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31 23:37:28,2020-01-31 23:48:16+00:00,2020-01-31 00:00:00+00:00

In [7]:
df_clean['lastseen'] = df_clean['lastseen'].str.strip('+00:00')

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2019-12-31 06:02:26,2020-01-01 03:08:39,2020-01-01 00:00:00+00:00
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2019-12-31 06:43:17,2020-01-01 04:24:08,2020-01-01 00:00:00+00:00
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2019-12-31 06:47:17,2020-01-01 22:14:43,2020-01-01 00:00:00+00:00
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2019-12-31 06:48:26,2020-01-01 01:41:45,2020-01-01 00:00:00+00:00
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2019-12-31 08:05:55,2020-01-01 14:46:17,2020-01-01 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31 23:17:36,2020-01-31 23:57:56,2020-01-31 00:00:00+00:00
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31 23:19:21,2020-01-31 23:59:54,2020-01-31 00:00:00+00:00
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31 23:28:13,2020-01-31 23:58:29,2020-01-31 00:00:00+00:00
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31 23:35:3,2020-01-31 23:47:19,2020-01-31 00:00:00+00:00
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31 23:37:28,2020-01-31 23:48:16,2020-01-31 00:00:00+00:00

In [9]:
df_clean['day'] = df_clean['day'].str.strip('+00:00')

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2019-12-31 06:02:26,2020-01-01 03:08:39,2020-01-01
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2019-12-31 06:43:17,2020-01-01 04:24:08,2020-01-01
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2019-12-31 06:47:17,2020-01-01 22:14:43,2020-01-01
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2019-12-31 06:48:26,2020-01-01 01:41:45,2020-01-01
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2019-12-31 08:05:55,2020-01-01 14:46:17,2020-01-01
...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31 23:17:36,2020-01-31 23:57:56,2020-01-31
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31 23:19:21,2020-01-31 23:59:54,2020-01-31
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31 23:28:13,2020-01-31 23:58:29,2020-01-31
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31 23:35:3,2020-01-31 23:47:19,2020-01-31
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31 23:37:28,2020-01-31 23:48:16,2020-01-31

In [19]:
#splitting firstseen and creating 2 new columns

df_split = df_clean['firstseen'].str.split(n=1, expand=True)
df_split.columns = ['date', 'time']
df_split

               date      time
13       2019-12-31  06:02:26
17       2019-12-31  06:43:17
19       2019-12-31  06:47:17
20       2019-12-31  06:48:26
24       2019-12-31  08:05:55
...             ...       ...
1518972  2020-01-31  23:17:36
1518984  2020-01-31  23:19:21
1519045  2020-01-31  23:28:13
1519076  2020-01-31   23:35:3
1519085  2020-01-31  23:37:28

[344792 rows x 2 columns]

In [20]:

df_clean['firstseen_date'] = df_split['date']

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_clean['firstseen_time'] = df_split['time']

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,firstseen_date,firstseen_time
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2019-12-31 06:02:26,2020-01-01 03:08:39,2020-01-01,2019-12-31,06:02:26
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2019-12-31 06:43:17,2020-01-01 04:24:08,2020-01-01,2019-12-31,06:43:17
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2019-12-31 06:47:17,2020-01-01 22:14:43,2020-01-01,2019-12-31,06:47:17
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2019-12-31 06:48:26,2020-01-01 01:41:45,2020-01-01,2019-12-31,06:48:26
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2019-12-31 08:05:55,2020-01-01 14:46:17,2020-01-01,2019-12-31,08:05:55
...,...,...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31 23:17:36,2020-01-31 23:57:56,2020-01-31,2020-01-31,23:17:36
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31 23:19:21,2020-01-31 23:59:54,2020-01-31,2020-01-31,23:19:21
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31 23:28:13,2020-01-31 23:58:29,2020-01-31,2020-01-31,23:28:13
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31 23:35:3,2020-01-31 23:47:19,2020-01-31,2020-01-31,23:35:3
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31 23:37:28,2020-01-31 23:48:16,2020-01-31,2020-01-31,23:37:28

In [23]:
#dropping the original firstseen column 
del df_clean['firstseen']

In [24]:
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,lastseen,day,firstseen_date,firstseen_time
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2020-01-01 03:08:39,2020-01-01,2019-12-31,06:02:26
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2020-01-01 04:24:08,2020-01-01,2019-12-31,06:43:17
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2020-01-01 22:14:43,2020-01-01,2019-12-31,06:47:17
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2020-01-01 01:41:45,2020-01-01,2019-12-31,06:48:26
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2020-01-01 14:46:17,2020-01-01,2019-12-31,08:05:55
...,...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31 23:57:56,2020-01-31,2020-01-31,23:17:36
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31 23:59:54,2020-01-31,2020-01-31,23:19:21
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31 23:58:29,2020-01-31,2020-01-31,23:28:13
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31 23:47:19,2020-01-31,2020-01-31,23:35:3
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31 23:48:16,2020-01-31,2020-01-31,23:37:28

In [25]:
#splitting lastseen and creating 2 new columns

df_split2 = df_clean['lastseen'].str.split(n=1, expand=True)
df_split2.columns = ['date', 'time']
df_split2

               date      time
13       2020-01-01  03:08:39
17       2020-01-01  04:24:08
19       2020-01-01  22:14:43
20       2020-01-01  01:41:45
24       2020-01-01  14:46:17
...             ...       ...
1518972  2020-01-31  23:57:56
1518984  2020-01-31  23:59:54
1519045  2020-01-31  23:58:29
1519076  2020-01-31  23:47:19
1519085  2020-01-31  23:48:16

[344792 rows x 2 columns]

In [26]:
df_clean['lastseen_date'] = df_split2['date']

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_clean['lastseen_time'] = df_split2['time']

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,lastseen,day,firstseen_date,firstseen_time,lastseen_date,lastseen_time
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2020-01-01 03:08:39,2020-01-01,2019-12-31,06:02:26,2020-01-01,03:08:39
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2020-01-01 04:24:08,2020-01-01,2019-12-31,06:43:17,2020-01-01,04:24:08
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2020-01-01 22:14:43,2020-01-01,2019-12-31,06:47:17,2020-01-01,22:14:43
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2020-01-01 01:41:45,2020-01-01,2019-12-31,06:48:26,2020-01-01,01:41:45
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2020-01-01 14:46:17,2020-01-01,2019-12-31,08:05:55,2020-01-01,14:46:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31 23:57:56,2020-01-31,2020-01-31,23:17:36,2020-01-31,23:57:56
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31 23:59:54,2020-01-31,2020-01-31,23:19:21,2020-01-31,23:59:54
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31 23:58:29,2020-01-31,2020-01-31,23:28:13,2020-01-31,23:58:29
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31 23:47:19,2020-01-31,2020-01-31,23:35:3,2020-01-31,23:47:19
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31 23:48:16,2020-01-31,2020-01-31,23:37:28,2020-01-31,23:48:16

In [29]:
#dropping the original lastseen column 
del df_clean['lastseen']

In [30]:
df_clean

,callsign,number,icao24,registration,typecode,origin,destination,day,firstseen_date,firstseen_time,lastseen_date,lastseen_time
13,CES516,MU516,7807d6,B-6538,A332,RJBB,RJBB,2020-01-01,2019-12-31,06:02:26,2020-01-01,03:08:39
17,VOI938,Y4938,0d036e,XA-VOI,A319,KLAX,KPDX,2020-01-01,2019-12-31,06:43:17,2020-01-01,04:24:08
19,CSN328,CZ328,780737,B-6137,A388,KLAX,YSSY,2020-01-01,2019-12-31,06:47:17,2020-01-01,22:14:43
20,UAE358,EK358,8963db,A6-EPL,B77W,OMDB,OMDB,2020-01-01,2019-12-31,06:48:26,2020-01-01,01:41:45
24,UAL9,UA9,a2a2e3,N26906,B788,KSFO,KSFO,2020-01-01,2019-12-31,08:05:55,2020-01-01,14:46:17
...,...,...,...,...,...,...,...,...,...,...,...,...
1518972,UAL1481,UA1481,aac954,N79402,B739,KIAH,KSAT,2020-01-31,2020-01-31,23:17:36,2020-01-31,23:57:56
1518984,ANA15,NH15,86787c,JA713A,B772,RJTK,RJOO,2020-01-31,2020-01-31,23:19:21,2020-01-31,23:59:54
1519045,PDT4731,PT4731,a94c2a,N699AE,E145,KPHL,KMDT,2020-01-31,2020-01-31,23:28:13,2020-01-31,23:58:29
1519076,UAE322,EK322,8960ed,A6-EDL,A388,OMDB,OMDB,2020-01-31,2020-01-31,23:35:3,2020-01-31,23:47:19
1519085,UAE376,EK376,896479,A6-EUO,A388,OMDB,OMDB,2020-01-31,2020-01-31,23:37:28,2020-01-31,23:48:16